.DS_Store

node_modules/*
!node_modules/@anito/
node_modules/@anito/*
!node_modules/@anito/site-kit

/static/index.css
/src/node_modules/@sapper/
yarn-error.log
/cypress/screenshots/
/__sapper__/
/.sessions/
package-lock.json
src/request.rest
.vscode
client_secret*
.env
.prettierrc
