//
// MDC Theme
//

@import "@material/theme/color-palette";
@import "@material/typography/mdc-typography";

//
// Defined in @sveltejs/site-kit
//
// $mdc-theme-primary: #ff3e00;
// $mdc-theme-secondary: #676778;

// $mdc-theme-background: #fff;
// $mdc-theme-surface: #fff;

// $mdc-theme-error: $material-color-red-900;
